/build/host
/MNIST-for-Numpy/*ubyte.gz
*.txt

build/_sds
build/.Xil
build/Pynq-Z1*
build/host*
build/sd_card
build/mlp*
build/pynq*

.build/
data_backup/
data_backup
.Xil/
.vscode/
Pynq-Z1/hw
Pynq-Z1/platforms/
data/
vivado.jou
vivado.log
vivado_31788.backup.jou
vivado_31788.backup.log
vivado_pid32313.str
