/build/host
/MNIST-for-Numpy/*ubyte.gz
*.txt

build/_sds
build/.Xil
build/Ultra*
build/host

.build/
data_backup/
data_backup
.Xil/
.vscode/
Ultra96/hw
Ultra96/platforms/
data/
vivado.jou
vivado.log
vivado_31788.backup.jou
vivado_31788.backup.log
vivado_pid32313.str
